.blog-list{
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.no-blogs-list{
    font-size: 40px;
    margin: auto;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .blog-list{
        padding: 0;
    }
}
