.profile-page-container{
    width: 80%;
    min-height: 100%;
}
@media screen and (max-width:768px) {
    .profile-page-container{
      width: 100%;
    }
  }
.profile-page-content{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

@media  screen and (max-width: 600px) {
    .profile-page-content{
        flex-direction: column;
    }
}

.user-profile-details-section{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    padding-top: 20px;
    flex-shrink: 0;
}
@media screen and (max-width:600px) {
    .user-profile-details-section{
        width: 100%;
    }
}

.profile-user-name{
    font-weight: bold;
    font-size: 30px;
    margin-left: 5px;
    color: teal;
    
}

.contact-heading{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #304766;
}
.mail-id{
    margin: 0;
}
.loader{
    width: 100%;
    text-align: center;
    font-size: 100px;

  }
.user-edit-form{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.edit-user-btn, .update-user-btn{
    border-radius: 5px;
    background-color: #304766;
    border: none;
    padding: 8px 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 10px;
    width: 100px;
}
.update-user-btn{
    margin-top: 0;
}

.edit-username-input, .edit-email-input, .edit-user-img-input{
    padding: 10px;
    border: 1px solid lightgray;
    width: 100%;
}