.desktop-navbar-container {
    width: 100%;
    min-height: 73px;
    background-color: #304766;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 800px) {
    .desktop-navbar-container{
      padding: 0 10px;
      min-height: 50px;
    }
  }
  .home-link{
    
  }
  
  .desktop-navbar-logo {
    max-width: 116px;
    max-height: 44px;
    font-family: Caveat;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: auto 0;
  }

  @media screen and (max-width: 800px) {
    .desktop-navbar-logo{
      font-size: 20px;
    }
  }
  
  .desktop-tabs-container {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 800px) {
    
  }
  .desktop-nav-link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .desktop-nav-profile-link {
    margin: auto 0;
    max-width: 47px;
    max-height: 28px;
    margin-right: 31px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    
  }
  @media screen and (max-width: 800px) {
    .desktop-nav-profile-link{
      font-size: 12px;
    }
  }
  
  .desktop-nav-write-link {
    margin: auto 0;
    max-width: 67px;
    max-height: 28px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    .desktop-nav-write-link{
      font-size: 12px;
    }
  }
  
  .nav-btns {
    margin: auto 0;
    max-width: 73px;
    max-height: 35px;
    padding: 10px auto;
    border-radius: 30px;
    background-color: #ffffff;
    border: none;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #304766;
    margin-left: 15px;
  }

  @media screen and (max-width: 800px) {
    .nav-btns{
      padding: 5px;
      border-radius: 5px;
    }
  }